.ilustracion-texto {
  padding-top: 20vh;
  height: min-content;
  position: sticky;
  top: 0;
}

@media (max-width: 900px) {
  .ilustracion-texto {
    margin-top: var(--spacer-xl);
  }
}

@media (max-width: 700px) {
  .ilustracion-texto {
    margin-top: var(--spacer-l);
  }
  .ilustracion-texto .text-headline{
    margin-top: var(--spacer-s);
  }

}

@media (max-width: 500px) {
  .ilustracion-texto {
    margin-top: 0;
    order: -1;
  }
}

