---
layout: layouts/base.njk
title: Ilustración
eleventyNavigation:
  key: ilustracion
  title: Ilustración
  order: 2
---



<div class="col-6 col-md-5 col-sm-4 col-xs-6 ilustracion-texto">
  <h1 class="text-headline font-2">Ilustración</h1>

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus culpa ex quia quisquam id, similique esse vitae beatae tempore commodi explicabo possimus incidunt ea nisi, amet recusandae, consequatur voluptatem dolorum.
  </p>
</div>

<div class="col-6 col-md-5 col-sm-4 col-xs-6">
  {% for elemento in ilus %}
    {% include 'components/project-ilu.njk' %}
  {% endfor %}
</div>
